body {
  font-family: "Noto Sans KR", sans-serif;
}

.main-wrapper {
  width: 1440px;
  height: 15213px;
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 885px;
}

.title-section h1 {
  font-size: 128px;
  margin: 68px auto;
}

.title-section p {
  font-size: 48px;
}

.fancy {
  width: 1440px;
  height: 6110px;

  background-color: #105a49;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.fancy-title,
.streetShop-title {
  align-self: flex-start;

  margin-top: 145px;
  margin-left: 97px;

  font-weight: 700;
  font-size: 68px;
}

.shoe {
  width: 1440px;
  height: 742px;

  display: flex;
  justify-content: space-evenly;

  margin-top: 400px;
}

.shoe-imgWrap {
  position: relative;
  width: 675px;
  height: 800px;
}

.shoe1 {
  z-index: 0;
  position: absolute;

  transform: matrix(0.99, -0.12, 0.12, 0.99, 0, 0);
}

.shoe2 {
  position: absolute;
  z-index: 1;

  left: 200px;
  top: 230px;
}

.shoe3 {
  position: absolute;
  z-index: 2;

  left: 20px;
  bottom: 80px;
}

.shoeLabel {
  position: absolute;
  z-index: 3;

  left: 350px;
  top: 180px;
}

.shoe-source {
  position: absolute;

  bottom: 0px;

  font-size: 10px;
  line-height: 14px;
}

.explain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 43px;

  margin-bottom: 72px;
}

.desc {
  font-size: 24px;

  line-height: 33px;
}

.shoe-first {
  margin-bottom: 47px;
}

.hair {
  width: 1440px;
  height: 602px;

  display: flex;
  justify-content: space-evenly;

  margin-top: 580px;
}

.hair-first {
  margin-bottom: 34px;
}

.hair-imgWrap {
  position: relative;

  width: 740px;
  height: 620px;
}

.hair1 {
  position: absolute;

  left: 0px;
  top: 0px;
  transform: rotate(-3.85deg);
}

.hair2 {
  position: absolute;
  z-index: 1;
  right: 0px;
  bottom: 100px;
  transform: rotate(1.72deg);
}

.hairLabel {
  position: absolute;
  z-index: 2;

  right: 210px;
  top: 168px;

  transform: rotate(1.4deg);
}

.hair-source {
  position: absolute;

  right: 0px;
  bottom: 0px;
}

.center {
  width: 1440px;
  height: 763px;

  display: flex;
  justify-content: space-evenly;

  margin-top: 580px;
}

.center-imgWrap {
  position: relative;
  width: 680px;
  height: 763px;
}

.center1 {
  position: absolute;
  transform: rotate(-4.12deg);
}

.center2 {
  z-index: 1;

  position: absolute;

  left: 0px;
  bottom: 100px;
}

.center3 {
  z-index: 2;

  position: absolute;

  right: 0px;
  bottom: 230px;
}

.centerLabel {
  z-index: 3;
  position: absolute;

  right: 310px;
  top: 180px;
}

.center-source {
  position: absolute;

  left: 0px;
  bottom: 0px;
}

.center-first {
  margin-bottom: 60px;
}

.getDark {
  width: 1440px;
  height: 508px;

  display: flex;
  justify-content: space-evenly;

  margin-top: 580px;
}

.getDark-imgWrap {
  position: relative;

  width: 588px;
  height: 508px;
}

.getDark1 {
  position: absolute;
  transform: rotate(4.81deg);
}

.getDark2 {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.getDarkLabel {
  position: absolute;
  right: 250px;
  bottom: 250px;
}

.getDark-first {
  margin-bottom: 58px;
}

.streetShop {
  width: 1440px;
  height: 5022px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #ffc031;
}
